In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
%matplotlib inline

titanic_df = pd.read_csv('./titanic/titanic_train.csv')
y = titanic_df["Survived"]
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [89]:
print(titanic_df.info())
print()

print(titanic_df.describe())
print()

print('데이터 세트 Null 값 갯수 ',titanic_df.isnull().sum().sum(), "\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

데이터 세트 Null 값 갯수  866

> - Null 처리
> - 불필요한 피처 제거
> - 인코딩(레이블, 원핫)

In [8]:
# 다항 회귀
titanic_df = pd.read_csv('./titanic/titanic_train.csv')
y = titanic_df["Survived"]

def fillna(df):
    df['Cabin'] = df['Cabin'].fillna('N')
    df['Embarked'] = df['Embarked'].fillna('N')
    imputer = SimpleImputer(missing_values=np.nan, strategy='mean') #missing_values=np.nan 모든 결측값을 대체한다. / strategy='mean' 평균으로 대체한다.
    age_array = df['Age'].to_numpy().reshape(-1, 1)
    imputer.fit(age_array)
    df['Age'] = imputer.transform(age_array)
    return df


def drop_features(df):
    df.drop(['PassengerId','Name','Ticket'], axis=1, inplace=True)
    print(df.head(3), "\n\n")

    df = df.drop('Survived', axis=1, inplace=False)
    return df


# # 레이블
# def encode_features_label(df):
#     features = ['Cabin', 'Sex', 'Embarked']
#     le = LabelEncoder()
#     for feature in features:
#         le.fit(df[feature])
#         df[feature] = le.transform(df[feature])
#     return df



# 표준화 => 2차원 데이터
def stscaler(df):
    features = ['Age', 'Fare']
    sc = StandardScaler()
    for feature in features:
        df[[feature]] = sc.fit_transform(df[[feature]])
    return df
    

# 원핫
# one-hot 인코딩을 하면 많은 0 값을 포함하기 때문에, 이러한 데이터를 희소 행렬 형식으로 저장하면 메모리 사용량을 크게 줄일 수 있다.
# ColumnTransformer는 인코딩된 데이터를 OneHotEncoder를 통해 처리한 후에 희소 행렬 형태로 반환
def encode_features_onehot(df):
    ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1, 6, 7])], remainder='passthrough')
    df = ct.fit_transform(df)
    # df = pd.DataFrame(df.toarray()) # 희소 행렬을 Dense 형태로 변환 후 DataFrame으로 변환
    return df


titanic_df = fillna(titanic_df)
titanic_df = drop_features(titanic_df)
print(titanic_df.head(3))
print()

titanic_df = stscaler(titanic_df)
print(titanic_df.head(3))
print()

titanic_df = encode_features_onehot(titanic_df)
# titanic_df = encode_features_label(titanic_df)
# print(titanic_df.head())

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500     N        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250     N        S


   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       3    male  22.0      1      0   7.2500     N        S
1       1  female  38.0      1      0  71.2833   C85        C
2       3  female  26.0      0      0   7.9250     N        S

   Pclass     Sex       Age  SibSp  Parch      Fare Cabin Embarked
0       3    male -0.592481      1      0 -0.502445     N        S
1       1  female  0.638789      1      0  0.786845   C85        C
2       3  female -0.284663      0      0 -0.488854     N        S

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(titanic_df, y, test_size=0.2)

In [10]:
lr = LinearRegression()
lr.fit(X_train, y_train)

# lr_pred = lr.predict(X_test)
print('LinearRegression 정확도: {0:.4f}'.format(lr.score(X_train, y_train)))
print('LinearRegression 정확도: {0:.4f}'.format(lr.score(X_test, y_test)))

LinearRegression 정확도: 0.5319
LinearRegression 정확도: 0.2986

# 다중 회귀

In [155]:
titanic_df = pd.read_csv('./titanic/titanic_train.csv')
y = titanic_df["Survived"]

print(titanic_df.info())
print()

print(titanic_df.describe())
print()

print('데이터 세트 Null 값 갯수 ',titanic_df.isnull().sum().sum(), "\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

데이터 세트 Null 값 갯수  866

In [156]:
# 다중 회귀
# 타깃 데이터에 2개 이상의 클래스가 포함된 문제를 다중 분류

def fillna(df):
    df['Cabin'] = df['Cabin'].fillna('N')
    df['Embarked'] = df['Embarked'].fillna('N')
    imputer = SimpleImputer(missing_values=np.nan, strategy='mean') #missing_values=np.nan 모든 결측값을 대체한다. / strategy='mean' 평균으로 대체한다.
    age_array = df['Age'].to_numpy().reshape(-1, 1)
    imputer.fit(age_array)
    df['Age'] = imputer.transform(age_array)
    return df


def drop_features(df):
    df.drop(['PassengerId','Name','Ticket'], axis=1, inplace=True)
    print(df.head(3), "\n\n")

    df = df.drop('Survived', axis=1, inplace=False)
    return df


# # 레이블
# def encode_features_label(df):
#     features = ['Cabin', 'Sex', 'Embarked']
#     le = LabelEncoder()
#     for feature in features:
#         le.fit(df[feature])
#         df[feature] = le.transform(df[feature])
#     return df



# 표준화 => 2차원 데이터
def stscaler(df):
    features = ['Age', 'Fare']
    sc = StandardScaler()
    for feature in features:
        df[[feature]] = sc.fit_transform(df[[feature]])
    return df
    

# 원핫
# one-hot 인코딩을 하면 많은 0 값을 포함하기 때문에, 이러한 데이터를 희소 행렬 형식으로 저장하면 메모리 사용량을 크게 줄일 수 있다.
# ColumnTransformer는 인코딩된 데이터를 OneHotEncoder를 통해 처리한 후에 희소 행렬 형태로 반환
def encode_features_onehot(df):
    ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1, 6, 7])], remainder='passthrough')
    df = ct.fit_transform(df)
    # df = pd.DataFrame(df.toarray()) # 희소 행렬을 Dense 형태로 변환 후 DataFrame으로 변환
    return df


titanic_df = fillna(titanic_df)
titanic_df = drop_features(titanic_df)
print(titanic_df.head(3))
print()

titanic_df = stscaler(titanic_df)
print(titanic_df.head(3))
print()

titanic_df = encode_features_onehot(titanic_df)
# titanic_df = encode_features_label(titanic_df)
# print(titanic_df.head())

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500     N        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250     N        S


   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       3    male  22.0      1      0   7.2500     N        S
1       1  female  38.0      1      0  71.2833   C85        C
2       3  female  26.0      0      0   7.9250     N        S

   Pclass     Sex       Age  SibSp  Parch      Fare Cabin Embarked
0       3    male -0.592481      1      0 -0.502445     N        S
1       1  female  0.638789      1      0  0.786845   C85        C
2       3  female -0.284663      0      0 -0.488854     N        S

In [171]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(titanic_df, y, test_size=0.2)

In [172]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures()
poly.fit(X_train)

train_poly = poly.transform(X_train)
test_poly = poly.transform(X_test)

lr = LinearRegression()
lr.fit(train_poly, y_train)

print('LinearRegression 정확도: {0:.4f}'.format(lr.score(train_poly, y_train)))
print('LinearRegression 정확도: {0:.4f}'.format(lr.score(test_poly, y_test)))

LinearRegression 정확도: 0.6463
LinearRegression 정확도: 0.0396

# 릿지 회귀
> - 비교적 효과가 좋다

In [176]:
titanic_df = pd.read_csv('./titanic/titanic_train.csv')
y = titanic_df["Survived"]

print(titanic_df.info())
print()

print(titanic_df.describe())
print()

print('데이터 세트 Null 값 갯수 ',titanic_df.isnull().sum().sum(), "\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

데이터 세트 Null 값 갯수  866

In [190]:
# 릿지 회귀
titanic_df = pd.read_csv('./titanic/titanic_train.csv')
y = titanic_df["Survived"]

def fillna(df):
    df['Cabin'] = df['Cabin'].fillna('N')
    df['Embarked'] = df['Embarked'].fillna('N')
    imputer = SimpleImputer(missing_values=np.nan, strategy='mean') #missing_values=np.nan 모든 결측값을 대체한다. / strategy='mean' 평균으로 대체한다.
    age_array = df['Age'].to_numpy().reshape(-1, 1)
    imputer.fit(age_array)
    df['Age'] = imputer.transform(age_array)
    return df


def drop_features(df):
    df.drop(['PassengerId','Name','Ticket'], axis=1, inplace=True)
    print(df.head(3), "\n\n")

    df = df.drop('Survived', axis=1, inplace=False)
    return df


# # 레이블
# def encode_features_label(df):
#     features = ['Cabin', 'Sex', 'Embarked']
#     le = LabelEncoder()
#     for feature in features:
#         le.fit(df[feature])
#         df[feature] = le.transform(df[feature])
#     return df



# 표준화 => 2차원 데이터
def stscaler(df):
    features = ['Age', 'Fare']
    sc = StandardScaler()
    for feature in features:
        df[[feature]] = sc.fit_transform(df[[feature]])
    return df
    

# 원핫
# one-hot 인코딩을 하면 많은 0 값을 포함하기 때문에, 이러한 데이터를 희소 행렬 형식으로 저장하면 메모리 사용량을 크게 줄일 수 있다.
# ColumnTransformer는 인코딩된 데이터를 OneHotEncoder를 통해 처리한 후에 희소 행렬 형태로 반환
def encode_features_onehot(df):
    ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1, 6, 7])], remainder='passthrough')
    df = ct.fit_transform(df)
    # df = pd.DataFrame(df.toarray()) # 희소 행렬을 Dense 형태로 변환 후 DataFrame으로 변환
    return df


titanic_df = fillna(titanic_df)
titanic_df = drop_features(titanic_df)
print(titanic_df.head(3))
print()

titanic_df = stscaler(titanic_df)
print(titanic_df.head(3))
print()

titanic_df = encode_features_onehot(titanic_df)
# titanic_df = encode_features_label(titanic_df)
# print(titanic_df.head())

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500     N        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250     N        S


   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       3    male  22.0      1      0   7.2500     N        S
1       1  female  38.0      1      0  71.2833   C85        C
2       3  female  26.0      0      0   7.9250     N        S

   Pclass     Sex       Age  SibSp  Parch      Fare Cabin Embarked
0       3    male -0.592481      1      0 -0.502445     N        S
1       1  female  0.638789      1      0  0.786845   C85        C
2       3  female -0.284663      0      0 -0.488854     N        S

In [202]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(titanic_df, y, test_size=0.2)


from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures()
poly.fit(X_train)

train_poly = poly.transform(X_train)
test_poly = poly.transform(X_test)

In [203]:
from sklearn.linear_model import Ridge

train = []
test = []

alpha_list = [0.001, 0.01, 0.1, 1, 10, 100]
for alpha in alpha_list:
    
    ridge = Ridge(alpha=alpha)
    ridge.fit(train_poly, y_train)

    train.append(ridge.score(train_poly, y_train))
    print(f"train ridge =>  {alpha}: ", train)
    
    test.append(ridge.score(test_poly, y_test))
    print(f"test ridge =>  {alpha}: ", test)
    print("\n")

ridge = Ridge(alpha=0.01)
ridge.fit(train_poly, y_train)

print(ridge.score(train_poly, y_train))
print(ridge.score(test_poly, y_test))

train ridge =>  0.001:  [0.6576466662083342]
test ridge =>  0.001:  [0.21217649977640063]


train ridge =>  0.01:  [0.6576466662083342, 0.6576388004334562]
test ridge =>  0.01:  [0.21217649977640063, 0.23163799749417735]


train ridge =>  0.1:  [0.6576466662083342, 0.6576388004334562, 0.6572544736318615]
test ridge =>  0.1:  [0.21217649977640063, 0.23163799749417735, 0.252488275554393]


train ridge =>  1:  [0.6576466662083342, 0.6576388004334562, 0.6572544736318615, 0.6491515518659902]
test ridge =>  1:  [0.21217649977640063, 0.23163799749417735, 0.252488275554393, 0.3111695442765525]


train ridge =>  10:  [0.6576466662083342, 0.6576388004334562, 0.6572544736318615, 0.6491515518659902, 0.5952161332268135]
test ridge =>  10:  [0.21217649977640063, 0.23163799749417735, 0.252488275554393, 0.3111695442765525, 0.36371477871377556]


train ridge =>  100:  [0.6576466662083342, 0.6576388004334562, 0.6572544736318615, 0.6491515518659902, 0.5952161332268135, 0.4880232453066744]
test ridge =>  100:  [0.21217649977640063, 0.23163799749417735, 0.252488275554393, 0.3111695442765525, 0.36371477871377556, 0.37315432455748254]


0.6576388004334562
0.23163799749417735

# 라쏘 회귀

In [204]:
titanic_df = pd.read_csv('./titanic/titanic_train.csv')
y = titanic_df["Survived"]

print(titanic_df.info())
print()

print(titanic_df.describe())
print()

print('데이터 세트 Null 값 갯수 ',titanic_df.isnull().sum().sum(), "\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

데이터 세트 Null 값 갯수  866

In [205]:
# 릿지 회귀
titanic_df = pd.read_csv('./titanic/titanic_train.csv')
y = titanic_df["Survived"]

def fillna(df):
    df['Cabin'] = df['Cabin'].fillna('N')
    df['Embarked'] = df['Embarked'].fillna('N')
    imputer = SimpleImputer(missing_values=np.nan, strategy='mean') #missing_values=np.nan 모든 결측값을 대체한다. / strategy='mean' 평균으로 대체한다.
    age_array = df['Age'].to_numpy().reshape(-1, 1)
    imputer.fit(age_array)
    df['Age'] = imputer.transform(age_array)
    return df


def drop_features(df):
    df.drop(['PassengerId','Name','Ticket'], axis=1, inplace=True)
    print(df.head(3), "\n\n")

    df = df.drop('Survived', axis=1, inplace=False)
    return df


# # 레이블
# def encode_features_label(df):
#     features = ['Cabin', 'Sex', 'Embarked']
#     le = LabelEncoder()
#     for feature in features:
#         le.fit(df[feature])
#         df[feature] = le.transform(df[feature])
#     return df



# 표준화 => 2차원 데이터
def stscaler(df):
    features = ['Age', 'Fare']
    sc = StandardScaler()
    for feature in features:
        df[[feature]] = sc.fit_transform(df[[feature]])
    return df
    

# 원핫
# one-hot 인코딩을 하면 많은 0 값을 포함하기 때문에, 이러한 데이터를 희소 행렬 형식으로 저장하면 메모리 사용량을 크게 줄일 수 있다.
# ColumnTransformer는 인코딩된 데이터를 OneHotEncoder를 통해 처리한 후에 희소 행렬 형태로 반환
def encode_features_onehot(df):
    ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1, 6, 7])], remainder='passthrough')
    df = ct.fit_transform(df)
    # df = pd.DataFrame(df.toarray()) # 희소 행렬을 Dense 형태로 변환 후 DataFrame으로 변환
    return df


titanic_df = fillna(titanic_df)
titanic_df = drop_features(titanic_df)
print(titanic_df.head(3))
print()

titanic_df = stscaler(titanic_df)
print(titanic_df.head(3))
print()

titanic_df = encode_features_onehot(titanic_df)
# titanic_df = encode_features_label(titanic_df)
# print(titanic_df.head())

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500     N        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250     N        S


   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       3    male  22.0      1      0   7.2500     N        S
1       1  female  38.0      1      0  71.2833   C85        C
2       3  female  26.0      0      0   7.9250     N        S

   Pclass     Sex       Age  SibSp  Parch      Fare Cabin Embarked
0       3    male -0.592481      1      0 -0.502445     N        S
1       1  female  0.638789      1      0  0.786845   C85        C
2       3  female -0.284663      0      0 -0.488854     N        S

In [206]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(titanic_df, y, test_size=0.2)


from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures()
poly.fit(X_train)

train_poly = poly.transform(X_train)
test_poly = poly.transform(X_test)

In [207]:
from sklearn.linear_model import Lasso

train = []
test = []

alpha_list = [0.001, 0.01, 0.1, 1, 10, 100]
for alpha in alpha_list:
    
    lasso = Lasso(alpha=alpha)
    lasso.fit(train_poly, y_train)

    train.append(lasso.score(train_poly, y_train))
    print(f"train ridge =>  {alpha}: ", train)
    
    test.append(lasso.score(test_poly, y_test))
    print(f"test ridge =>  {alpha}: ", test)
    print("\n")

lasso = Lasso(alpha=0.01)
lasso.fit(train_poly, y_train)

print(lasso.score(train_poly, y_train))
print(lasso.score(test_poly, y_test))

train ridge =>  0.001:  [0.5426126779563134]
test ridge =>  0.001:  [0.3963483704240094]


train ridge =>  0.01:  [0.5426126779563134, 0.4472582046557497]
test ridge =>  0.01:  [0.3963483704240094, 0.34258381923886516]


train ridge =>  0.1:  [0.5426126779563134, 0.4472582046557497, 0.30732605793320344]
test ridge =>  0.1:  [0.3963483704240094, 0.34258381923886516, 0.24506673123392064]


train ridge =>  1:  [0.5426126779563134, 0.4472582046557497, 0.30732605793320344, 0.0]
test ridge =>  1:  [0.3963483704240094, 0.34258381923886516, 0.24506673123392064, -0.0006081428645621223]


train ridge =>  10:  [0.5426126779563134, 0.4472582046557497, 0.30732605793320344, 0.0, 0.0]
test ridge =>  10:  [0.3963483704240094, 0.34258381923886516, 0.24506673123392064, -0.0006081428645621223, -0.0006081428645621223]


train ridge =>  100:  [0.5426126779563134, 0.4472582046557497, 0.30732605793320344, 0.0, 0.0, 0.0]
test ridge =>  100:  [0.3963483704240094, 0.34258381923886516, 0.24506673123392064, -0.0006081428645621223, -0.0006081428645621223, -0.0006081428645621223]


0.4472582046557497
0.34258381923886516

/opt/homebrew/lib/python3.12/site-packages/sklearn/linear_model/_coordinate_descent.py:639: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.026024694076426158, tolerance: 0.01687851123595507
  model = cd_fast.sparse_enet_coordinate_descent(